*{
    margin:0;
    padding:0;
}
.main{
    width:100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(https://live.staticflickr.com/2908/14570496411_fb8a8dde08_b.jpg);
    background-position: center;
    background-size:cover;
    height:109vh;
}
.navbar{
    width:1200px;
    height:75p;
   marginauto;
}
.logo{
    width:290px;
    float:left;
    height: 70px;
}
.comp_name{
    color:#dbd7d2;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float:left;
    padding-top: 10px;
}
.menu{
    width:400px;
    height:70px
    display:;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
}